// note: no img assets required for layout

html {
  height: 100%;
  background-color: $l_body_bg; // important! otherwise in "layout-boxed" mode, content > height 100% will
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  // background-color: $l_body_bg;
}

body {
  background: rgba(228,219,211,1) !important;
  background: -moz-linear-gradient(left, rgba(228,219,211,1) 0%, rgba(243,238,232,1) 13%, rgba(254,252,246,1) 50%, rgba(254,251,246,1) 51%, rgba(243,238,232,1) 87%, rgba(228,219,211,1) 100%) !important;
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228,219,211,1)), color-stop(13%, rgba(243,238,232,1)), color-stop(50%, rgba(254,252,246,1)), color-stop(51%, rgba(254,251,246,1)), color-stop(87%, rgba(243,238,232,1)), color-stop(100%, rgba(228,219,211,1))) !important;
  background: -webkit-linear-gradient(left, rgba(228,219,211,1) 0%, rgba(243,238,232,1) 13%, rgba(254,252,246,1) 50%, rgba(254,251,246,1) 51%, rgba(243,238,232,1) 87%, rgba(228,219,211,1) 100%) !important;
  background: -o-linear-gradient(left, rgba(228,219,211,1) 0%, rgba(243,238,232,1) 13%, rgba(254,252,246,1) 50%, rgba(254,251,246,1) 51%, rgba(243,238,232,1) 87%, rgba(228,219,211,1) 100%) !important;
  background: -ms-linear-gradient(left, rgba(228,219,211,1) 0%, rgba(243,238,232,1) 13%, rgba(254,252,246,1) 50%, rgba(254,251,246,1) 51%, rgba(243,238,232,1) 87%, rgba(228,219,211,1) 100%) !important;
  background: linear-gradient(to right, rgba(228,219,211,1) 0%, rgba(243,238,232,1) 13%, rgba(254,252,246,1) 50%, rgba(254,251,246,1) 51%, rgba(243,238,232,1) 87%, rgba(228,219,211,1) 100%) !important ;
}
.full-height{
  height: 100% !important;
}
