// note: no img assets required for layout

html {
  height: 100%;
  background-color: $l_body_bg; // important! otherwise in "layout-boxed" mode, content > height 100% will
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  // background-color: $l_body_bg;
}

body {
  z-index: 100;
  background: rgba(249,249,249,1) !important; /* fallback for old browsers */
}

.full-height{
  height: 100% !important;
}

.UserAvatar--inner {
  font-size: small;
  color: white;
}
