{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="pen-title" >
  <h1><img src="https://i.imgur.com/SAgIP9z.png" /></h1>
</div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="localhost:8000" />
      {% endif %}
      <div class="input-container">
        <input type="#{type}" id="phant_login" name="username" required="required"/>
        <label for="#{label}">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="phant_password"  name="password" required="required"/>
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>

      <div class="button-container">
        <button class="primaryAction"  type="submit" ><span>{% trans "Go" %}</span></button>

        <button class="facebook-span socialaccount_provider" style="border: 2px solid #3b5998; margin-top:2vh"> <i style="color:#3b5998" class="fa fa-facebook"></i> <a href="/accounts/facebook/login/?process=login" title="Facebook"> <span class="facebook-span">fb login  </span>  </a></button>
      </div>
      <div class="footer secondaryAction"><a  href="{% url 'account_reset_password' %}">{% trans "Forgot your Password?" %}</a></div>
    </form>
  </div>
  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <!--
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>
  -->
  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <!--
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  -->
  {% endif %}
</div>
{% endblock %}
