.app-sidebar .sidebar-header {
}

.app-sidebar .sidebar-header .logo-img {
    margin-right: 6px !important;
}


.dashboard-login-btn {
  color: white !important;
  padding-top: 28% !important;
}

.app-sidebar .sidebar-header {
    padding: 11px 1px 1px 5px !important;

}

#app-inner > div.app-main.full-height > div > nav > section.sidebar-header.bg-color-primary > a.logo-img.logo-react > i {
  font-size: 30px !important;
  color: #08867A !important;
}


#app-inner > div.app-main.full-height > div > nav > section.sidebar-header.bg-color-primary > a.brand {
  display: none !important;
}

@media only screen and (max-width: 991px) {
.logo-img {
  display: none !important;
}
}

.app-header .app-header-inner {
  height: auto !important;
  padding: 5px !important;
}

.app-main .app-header > .app-header-inner {
    background: #019B8B !important;
}


.imgLogoAnchor {
  padding-left: 11vh !important;
}

.fixed-header .app-page-container .app-content-wrapper .app-content {
    padding-top: 0px !important;
}


.select-options-header {
  display: inline-flex;
  width: 100%;
}

.select-option-header {
  width: 35% !important;
  margin-right: 5% !important;
}


.top-nav-right {
  width: 100vh;
  margin-top: 4vh;
}

.top-nav-right > .list-unstyled {
  width: 90vh;
}
