.card {
  background-color: transparent !important;
  box-shadow: none !important;
  border:none !important;
}

.item-card .card__image {
    background-color: #ef5350 !important;
}

.featured-live-event img {
  height: 60vh;
}

.tm-thumbnail {
  margin-bottom: 4vh;
}

.card .card-image img {
  width: 100% !important;
}

.card .card-content {
  background: navajowhite !important;
}

.card-white {
    background-color: navajowhite !important;
}

.article-title {
  margin-bottom: 4vh !important;
  margin-top: 7vh !important;
}

.feature-callout h2 {
  color: #232323 !important;
}

.callout-feature-content {
  width: 100%;
  padding-top: 12vh !important;
  padding-bottom: 12vh !important;
}

.banner-artist-title {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: grey;
  font-size: 2em;
}
